{% extends 'base.html.twig' %}

{% block title %} {{ parent ()}} {% endblock %}

{% block body %}
        <div id="mainer" class="mainer">
            <div class="container-fluid container-max-width-xl">
                <div class="mt-4 d-flex justify-content-between line-b-f">
                    <h4>Latest releases</h4>
                </div>
             </div>
        </div>
    </div>
{% endblock %}