{% extends 'base.html.twig' %}

{% block title %} {{ parent ()}} {% endblock %}

{% block body %}
    <div id="mainer" class="mainer">
        <div class="container-fluid container-max-width-xl">
            <div class="mt-4 flex-row createform">
                <div class="mt-4 flex-row justify-content-start createform-head">
                    <h4>Add Artist</h4>
                    <div class="mt-4 flex-row AddOthers">
                        <div class="mt-4 flex-row justify-content-start Others-head">
                            {{ form_start(form) }}
                            <div class="form-group">
                                <label for="artistName">Artist Name:</label>
                                {{ form_widget(form.artist_name,{
                                    'attr':{
                                        'class':'form-control',
                                        'placeholder': 'Artist name'
                                    }
                                }) }}
                            </div>
                            <div class="mt-md-2 flex-column buttons">
                                <input type="submit" name="app_create" value="Create" class="btn btn-primary"/>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    </div>#}
{% endblock %}